@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?qvnaot');
  src: url('../fonts/icomoon.eot?qvnaot#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qvnaot') format('truetype'),
    url('../fonts/icomoon.woff?qvnaot') format('woff'),
    url('../fonts/icomoon.svg?qvnaot#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_right:before {
  content: "\e900";
}

.icon-cart:before {
  content: "\e93a";
}

.icon-phone:before {
  content: "\e942";
}

.icon-envelop:before {
  content: "\e945";
}

.icon-location:before {
  content: "\e947";
}

.icon-clock:before {
  content: "\e94e";
}

.icon-user-plus:before {
  content: "\e973";
}

.icon-search:before {
  content: "\e986";
}

.icon-menu:before {
  content: "\e9bd";
}

.icon-circle-right:before {
  content: "\ea42";
}

.icon-circle-down:before {
  content: "\1f318";
}

.icon-circle-left:before {
  content: "\ea44";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-whatsapp:before {
  content: "\ea93";
}

.icon-vk:before {
  content: "\ea98";
}